extends layout

block content
	section.container
		header
			h1 #{title}
			p Welcome to #{title}

		div.gameContainer
			- var yMax= game.field.height;
			- var xMax = game.field.width;
			- var letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P"];
			- var y = 0;
			- var x = 1;

			div.topRow(data-width="#{xMax}")
				div
				while x <= xMax
					div #{x}
					- x++

			div.leftColumns(data-height="#{yMax}")
				while y < yMax
					div #{letters[y]}
					- y++

			div.gameField.drop(data-width="#{xMax}", data-height="#{yMax}")
				- y = 0;
				while y < yMax
					- x = 0;
					while x < xMax
						div(data-x="#{x}", data-y="#{y}")
						- x++
					- y++

		section
			header
				h2 Chose your Ships!

			div#dragAndDropError.error

			each shipClass in game.ships
				section.shipContainers(
					id="#{shipClass.name}s",
					data-counter="#{shipClass.amount}"
				)
					header
						h3 #{shipClass.name}
							span (#{shipClass.amount}x)

					- var shipAmount = 0;
					while shipAmount < shipClass.amount
						div(
							id="#{shipClass.name}_#{shipAmount}",
							class="ship #{shipClass.name}",
							draggable="true",
							data-size="#{shipClass.size}",
							data-vertical="false"
						)
							- var shipSize = 0;
							while shipSize < shipClass.size
								div
								- shipSize++

						div(
							id="#{shipClass.name}_verti_#{shipAmount}",
							class="ship #{shipClass.name}",
							draggable="true",
							data-size="#{shipClass.size}",
							data-vertical="true"
						)
							- var shipSize = 0;
								while shipSize < shipClass.size
									div
									- shipSize++

						- shipAmount++