extends layout

block content
	header
		h1 #{title}
		p Welcome to #{title}

	form(action="/game", method="POST")
		select(name="gameSelect")
			each mode in modes
				option(value= "#{mode.id}") #{mode.value}

		button(type="submit") Start!