doctype html
html
	head
		title #{title]
		base(href="http://schiffe.vilbrandt.eu")
		link(rel='stylesheet', href='/styles/css/schiffe.css')

	body
		header
			nav

		main(id= "#{sectionId}")
			block content

			div#chatbox
				ul

				aside

				div
					input(
					type="text",
					name="userName",
					placeholder="Your name"
					)

					input(
					type="text",
					name="chatMessage",
					placeholder="Your message"
					)

					button Send

		footer

		script(src="/socket.io/socket.io.js")
		script(src="/js/loader.js")