#chatbox {
	width: 800px;
	position: fixed;
	bottom: 0;
	right: 0;

	ul {
		padding: 0;
		list: {
			style-type: none;
		};
		width: 80%;

		li {
			& > span {
				display: inline-block;
			}

			// time
			& > :first-child {
				margin: {
					right: 8px;
				}
			;
			}

			// user
			& > :nth-child(2) {
				margin: {
					right: 8px;
				}
			;
			}

			// message
			& > :last-child {

			}
		}
	}

	aside {
		width: 20%;
		display: inline-block;

		& > span {
			display: block;
			cursor: pointer;
		}
	}

	button {

	}
}