%cell {
	border: 1px solid black;
	width: $cellWidth;
	height: $cellWidth;
	float: left;
	margin: 0;
	padding: 0;
}

main#game {
	section {
		@include clearfix;
	}

	.gameContainer {

	}

	.topRow {
		@include clearfix;
		height: $cellWidth;

		&[data-width="10"] {
			width: $cellWidth * 11;
		}

		& > div {
			@extend %cell;
		}

	}

	.leftColumns {
		@include clearfix;
		width: $cellWidth;
		float: left;

		&[data-height="10"] {
			height: $cellWidth * 10;
		}

		& > div {
			@extend %cell;
		}
	}

	.gameField {
		float: left;

		&[data-width="10"] {
			width: $cellWidth * 10;
		}

		& > div {
			@extend %cell;

			* {
				pointer-events: none;
			}
		}

		.ship {
			div {
				background: {
					color: black;
				};
				border-color: white;
			}
		}
	}

	.shipContainers {
		@include clearfix;

		header {
			& > * {
				margin: 0;
			}
		}
	}

	.ship {
		margin: {
			right: 8px;
			bottom: 8px;
		};
		display: inline-block;

		& > div {
			@extend %cell;
		}
	}

	[data-size] {
		&:not([data-vertical="true"]) {
			height: $cellWidth;
		}

		&[data-vertical="true"] {
			width: $cellWidth;
		}
	}

	[data-size="3"] {
		&:not([data-vertical="true"]) {
			width: 3 * $cellWidth;
		}

		&[data-vertical="true"] {
			height: 3 * $cellWidth;
		}
	}

	[data-size="4"] {
		&:not([data-vertical="true"]) {
			width: 4 * $cellWidth;
		}

		&[data-vertical="true"] {
			height: 4 * $cellWidth;
		}
	}

	[data-size="2"] {
		&:not([data-vertical="true"]) {
			width: 2 * $cellWidth;
		}

		&[data-vertical="true"] {
			height: 2 * $cellWidth;
		}
	}

	[data-size="5"] {
		&:not([data-vertical="true"]) {
			width: 5 * $cellWidth;
		}

		&[data-vertical="true"] {
			height: 5 * $cellWidth;
		}
	}
}