body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1200px;
	max: {
		width: 100%;
	};
	margin: 0 auto;
	@include clearfix;
}